/* styles.css */

.App {
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  color: #1d1d1f;
  font-size: 18px;
  line-height: 1.31;
}

.App-header {
  text-align: center;
}

h1 {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 24px;
  line-height: 0.74;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
}

table td,
table th {
  padding: 12px 15px;
  text-align: left;
}

table th {
  background-color: #555;
  color: #f5f5f5;
}

table th description,
table td description {
  width: 25%;
}

table td img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

table tr:hover {
  background-color: #f5f5f5;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.search-bar input {
  margin-right: 12px;
  padding: 8px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  font-size: 18px;
}

.search-bar button {
  padding: 8px;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.search-bar button:hover {
  background-color: #0069d9;
}

.no-products-found {
  text-align: center;
  margin-top: 24px;
}
